html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    
}

#nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

#nav a {
    margin-right: 20px;
    
}

#nav a img {
    width: 18px;
    height: auto;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#logo {
    text-align: center;
}

#logo img {
    width: 300px;
    height: auto;
}

#sb_container {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#search_icon, #voice_icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_icon {
    left: 10px;
}

#voice_icon {
    right: 10px;
}

#voice_icon img {
    width: 15px;
    height: auto;
}

#searchbar {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
}

#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(233,233,233);
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 3px;
    border: 1px solid transparent;
}

.button:hover {
    box-shadow: 0 0 2px 1px #c4c4c4;
    border: 1px solid #eee;
}

.footer {
    display: grid;
    background: #eee;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer_content {
    border-top: 1px solid #c4c4c4;
    padding: 5px;
    color: gray;
    text-align: left;
}

.A {
    grid-column: 1 / 13;
}
.E {
    grid-column: 4 / 10;
    text-align: center;
}
.E img {
    width: 12px;
    height: auto;
}
