html, body {
    margin: 0;
    height: 100%;
}

#nav {
    display: flex;
    justify-content: flex-end;
}

#nav a {
    margin-right: 20px;
    
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#sb_container {
    text-align: center;
    margin-top: 20px;

}

#searchbar {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 3px;
}

body {
    display: flex;
    flex-direction: column;
}
