*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 50px;
}

#left-div{
    display: flex;
}

#left-div > img {
    height: 70px; 
}

header{
    border-bottom: 1px solid #e0e0e0;
}

form{
    margin: 10px 10px;
    padding: 5px 10px;
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 5px #ababab;
    width: 800px;
    display: flex;
    justify-content: center;
}

.empty-div{
    min-width: 40%;
    width: 40%;
}

input[type=text]{
    margin-left: 5px;
    padding: 10px 5px;
    width: 90%;
    border: none;
    border-right:#e0e0e0 2px solid;
    outline: none
}

input[type=submit]{
    width: 10%;
    border: none;
    background-color: #fff;
}

.nav-div-right{
    display: flex;
}

.nav-div-right > img {
    width: 25px;
    height: 25px;
    margin: 0px 20px;
}

.result-type{
    display: flex;
    justify-content: flex-start;
    padding: 5px 150px;
}

.type-div{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
}

/* .type-all {
    border: 1px solid #1a73e8;
} */

.type-div > img{
    width: 20px;
    margin: 0px 5px;
}

/* || MAIN */


main{
    min-height: 100vh;
    margin: 10px 150px;
}

.results-card{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 40px 0px;
}

.results-card > a{
    display: inline-block;
    text-decoration: none;
}

.results-website{
    display: flex;
    color: #000;
    margin: 5px 0px;
}

.results-website > img{
    height: 20px;
}


.results-card > p{
    padding: 5px 0px;
}

/* || FOOTER */

footer{
    display: flex;
    padding: 40px 100px;
    background-color: #f2f2f2;
}

footer > a {
    padding: 0px 15px;
    text-decoration: none;
    color: #4d5156;
}

#results {
    color: gray;
    font-size: smaller;
}
